/*  Reset ♥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }


/* PAGE */
body {
    background: #dbe9ed;
	color: #488AAC;
}

/* LINKS */
a {
  color:#488AAC;
  text-decoration:none;
  font-weight:bold;
  -webkit-transition:color 250ms;
     -moz-transition:color 250ms;
       -o-transition:color 250ms;
          transition:color 250ms;
  }
  a:hover {
    color:#336179;
    }
  a.active {
    color:#2D576C;
    }

/*
	Fonts imports
*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
@import url(http://fonts.googleapis.com/css?family=Cabin:700);

/* make keyframes that tell the start state and the end state of our object */
@keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}
@-moz-keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}
@-webkit-keyframes pulsate {
     0% {opacity: 0;}
    50% {opacity: 1.0}
    100% {opacity: 0}
}

/* PRELOADER */
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#dbe9ed;
    z-index:15000;
}

#status {
    
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;		
	width: 82%;
	height: 325px;
    
    background:url(/img/ar.png) center center no-repeat;
}

#status {
    opacity: 1;
	animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
	-moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}

#home {        
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;	
	margin: auto;	
	width: 82%;
	height: 325px;
}

#home .initials {
	font-family: 'Cabin', sans-serif;
	font-size: 7.5em;
	font-weight: 700;
	line-height: 140px;
	text-align: center;
}

#home .name {
	font-family: 'Titillium Web', sans-serif;
	font-size: 4.5em;
	line-height: 80px;
	text-align: center;
}

#home hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0.75), rgba(255,255,255,0.2)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0.75), rgba(255,255,255,0.2)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0.75), rgba(255,255,255,0.2)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0.2), rgba(255,255,255,0.75), rgba(255,255,255,0.2)); 
}

#home div.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#home div ul {
	list-style: none;
	padding-top: 20px;
	float: left;
}

#home div ul li {
    display: inline;
}

#home div ul li a {
    margin: 25px 10px;
	width: 80px;
	text-align: center;
	display: inline-block;
}

#home div ul li a i {
    font-size: 6em;
}

/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
	.hide-tablet { display:none; }
	.show-tablet { display:block; }
	
	#home .name {
		font-size: 3.5em;
	}

	#home div ul li a i {
    	font-size: 5em;
	}
}

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:768px) {
	.hide-phone { display:none; }
  	.show-phone { display:block; }

	#home .name {
		font-size: 3em;
	}

	#home div ul {
		float: none;
		clear: both;
	}
	
	#home div ul li a {
		margin: 25px 20px;
	}

	#home div ul li a i {
		font-size: 5em;
	}
}
