<section class="section about-me" id="about-me">
	<div class="container">
		<h2 class="heading">SOBRE MIM</h2>
		<p>Monotonectally conceptualize go forward relationships and effective paradigms. Uniquely build team building convergence rather than progressive manufactured products. Quickly build professional web services through cross functional vortals. Synergistically transform functionalized e-markets through performance based human capital. Energistically engage global core competencies vis-a-vis superior architectures.</p>
		<p>Holisticly foster process-centric core competencies whereas impactful meta-services. Seamlessly evisculate accurate leadership vis-a-vis highly efficient users. Authoritatively grow multifunctional action items and competitive processes. Collaboratively maximize resource sucking.</p>
		<div class="row interest">
			<div class="col-md-3">
				<h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> Music</h3>
				<p>Efficiently revolutionize one-to-one potentialities before B2B models. Continually leverage other's resource-leveling niche markets whereas focused processes. Distinctively transition high standards in total linkage.</p>
			</div>
			<div class="col-md-3">
				<h3 class="sub-heading"><span class="glyphicon glyphicon-film"></span> Movies</h3>
				<p>Holisticly pursue pandemic services before distributed experiences. Collaboratively envisioneer just in time niches before ubiquitous e-services. Appropriately enable scalable e-business with leveraged opportunities.</p>
			</div>
			<div class="col-md-3">
				<h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> Traveling</h3>
				<p>Authoritatively transition global web services vis-a-vis user-centric content. Rapidiously innovate principle-centered resources via intuitive models. Monotonectally integrate collaborative core competencies before best-of-breed potentialities.</p>
			</div>
			<div class="col-md-3">
				<h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> Books</h3>
				<p>Holisticly restore resource-leveling methodologies rather than distinctive e-services. Seamlessly whiteboard unique quality vectors via functionalized catalysts for change. Enthusiastically embrace proactive outsourcing through.</p>
			</div>
		</div>
		<div class="social">
			<h3 class="sub-heading">Follow me on:</h3>
			<ul class="social-icons">
				<li><a href="https://facebook.com/gblmarquez" target="_blank"><i class="icon icon-facebook"></i></a></li>
				<li><a href="https://twitter.com/gblmarquez" target="_blank"><i class="icon icon-twitter"></i></a></li>
				<li><a href="https://profiles.google.com/gblmarquez" target="_blank"><i class="icon icon-google-plus"></i></a></li>
				<li><a href="https://linkedin.com/in/gabrielmarquez" target="_blank"><i class="icon icon-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
</section>