<header class="jumbotron header" id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 left">
				<div class="avatar">
					<img src="assets/img/profile-picture.png" class="img-responsive" alt="Profile Picture" />
				</div>
			</div>
			<div class="col-md-6 right">
				<h1 class="hide">Gabriel Marquez</h1>
				<h2 class="heading">OL&Aacute, EU SOU GABRIEL</h2>
				<p>Empreendedor de S&atilde;o Paulo. Quer saber mais sobre mim?</p>
				<a href="#about-me" class="btn btn-default btn-lg">LEIA MAIS</a>
			</div>
		</div>
	</div>
</header>