<section class="section projects" id="projects">
	<div class="container">
		<h2 class="heading">PROJETOS</h2>
		<p>Intrinsicly mesh corporate partnerships with synergistic leadership skills. Uniquely negotiate high-payoff potentialities before premium niches. Progressively cultivate functional platforms after focused processes. Assertively supply emerging metrics before out-of-the-box internal or "organic".</p>
		<div class="row project-list">
			<ul class="project-grid project-effect-shrink">
				<li class="col-md-6">
					<figure>
						<img src="assets/img/projects/big-thing-landing-page.png" alt="Big Thing Landing Page"/>
						<figcaption>
							<div class="project-item-info">
								<h3 class="sub-heading">Big Thing Landing Page</h3>
								<p>Progressively pursue visionary functionalities through vertical ROI. Uniquely unleash alternative experiences vis-a-vis.</p>
								<a href="#" class="btn btn-default">View Details</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li class="col-md-6">
					<figure>
						<img src="assets/img/projects/tiick-tock-coming-soon-page.png" alt="Tiick Tock Coming Soon Page"/>
						<figcaption>
							<div class="project-item-info">
								<h3 class="sub-heading">Tiick Tock Coming Soon Page</h3>
								<p>Appropriately engage functional potentialities for principle-centered customer service.</p>
								<a href="#" class="btn btn-default">View Details</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</div>	
</section>
