<section class="section resume" id="resume">
	<div class="container">
		<h2 class="heading">RESUME</h2>
		<ul class="timeline">
			<li class="year">2013</li>
			<li class="event">
				<h3 class="heading">Senior Web Designer</h3>
				<span class="month"><i class="icon icon-calendar"></i>September 2007 - present</span>
				<p>Dramatically reconceptualize diverse imperatives whereas out-of-the-box manufactured products. Dynamically negotiate seamless data via proactive ideas. Globally seize revolutionary imperatives rather than standardized niches.</p>
			</li>
			<li class="event">
				<h3 class="heading">Web Developer &amp; Designer</h3>
				<span class="month"><i class="icon icon-calendar"></i>January 2007 - September 2007</span>
				<p>Dynamically procrastinate proactive methodologies and multimedia based materials. Phosfluorescently incentivize magnetic leadership skills before inexpensive users.</p>
			</li>
			<li class="year">2008</li>
			<li class="event">
				<h3 class="heading">Analista de Sistemas na Barth Desenvolvimento</h3>
				<span class="month"><i class="icon icon-calendar"></i>Julho 2007 - Janeiro 2008</span>
				<p>Globally transition unique solutions vis-a-vis dynamic niche markets. Interactively recaptiualize superior leadership without end-to-end catalysts for change. Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
			</li>
			<li class="event">
				<h3 class="heading">Desenvolvedor .NET na HKL</h3>
				<span class="month"><i class="icon icon-calendar"></i>Julho 2007 - Janeiro 2008</span>
				<p>Desenvolvimento de sistemas e sites Web.</p>
				<p>Arquitetura e desenvolvimento de sistema de pontua&ccedil;&atilde;o de torneios de golfe, em conjunto com o maior sistema de ranking de jogadores de golfe do Brasil.</p>
				<!-- <figure>
					<img src="assets/img/skills.png" alt="Skills" />
				</figure> -->
			</li>
			<li class="year">2006</li>
			<li class="event">
				<h3 class="heading">Desenvolvedor .NET na Dot-Insight</h3>
				<span class="month"><i class="icon icon-calendar"></i>Fevereiro 2006 - Julho 2007</span>
				<p>Desenvolvimento para sistemas Web, Web Services, Desktop e Mobile.</p>
				<p>Colabora&ccedil;&atilde;o no desenvolvimento de grande portal de imagens, dispon&iacute;vel em mais de 7 pa&iacute;ses. Desenvolvimento do sistema de Back Office e Search Engine.</p>
			</li>
		</ul>

	</div>
</section>
